---
import { Icon } from 'astro-icon/components';
import { API_KEY, API_URL, config } from 'src/config/site';

type Keyword = {
  id: string;
  keyword: string;
  thumbnail?: string;
  slug: string;
  description: string | null;
  content: string | null;
  rawContent: string | null;
  enterpriseId: string;
  createdAt: string;
  updatedAt: string;
  deletedAt: string | null;
};

const url = `${API_URL}/keyword/all/${API_KEY}`;
let keyword: Keyword[] = [];

try {
  const res = await fetch(url);
  console.log(url);
  if (res.ok) {
    keyword = await res.json();
  }
} catch (err) {
  console.error('Erro ao buscar os artigos', err);
}
---

<h4 class="mb-2 !text-base !font-medium !text-[#171D32]">Artigos Recentes</h4>
<div class="w-full">
  {
    keyword.length > 0 ? (
      keyword
        .sort(
          (a, b) =>
            new Date(b.updatedAt).getTime() - new Date(a.updatedAt).getTime(),
        ) // Ordena por data (mais novo primeiro)
        .slice(0, 4) // Limita a 4 itens
        .map((kw: Keyword) =>
          kw.content ? (
            <div class="grid grid-cols-5">
              <div class="col-span-2 md:col-span-5 lg:col-span-2 p-1">
                <a
                  href={`/informacoes/${kw.slug}`}
                  class="block"
                >
                  <img src={kw.thumbnail || '/images/logo.png'}  alt={config.company.name} class="!m-0 !rounded-sm !w-[120px]" />
                </a>
              </div>
              <div class="col-span-3 md:col-span-5 lg:col-span-3 p-1 flex items-center">
                <a
                  href={`/informacoes/${kw.slug}`}
                  class="block !no-underline"
                >
                  <p class="!font-medium !uppercase !text-xs !text-[#171D32] line-clamp-2 !m-0">
                    Informações - <span class="!font-normal !text-sm !capitalize !text-[#9195A2]">{config.company.name}</span>
                  </p>
                  <p class="!font-medium !text-xl !text-[#171D32] !m-0">
                    {kw.keyword}
                  </p>
                </a>
              </div>
            </div>
          ) : (
            <div
              class="bg-white p-5 rounded-2xl shadow"
              title="Sem conteúdo disponível"
            >
              <h2 class="text-xl font-semibold mb-2">{kw.keyword}</h2>
              <p class="text-gray-600 text-sm line-clamp-2">
                {kw.description ?? ''}
              </p>
              <p class="mt-3 text-xs text-gray-400">
                Criado em {new Date(kw.createdAt).toLocaleDateString('pt-BR')}
              </p>
            </div>
          ),
        )
    ) : (
      <p class="text-center text-gray-600 w-full col-span-4">
        Nenhuma informação encontrada
      </p>
    )
  }
</div>
