---
/* src/components/section/Navbar.astro */
import { Icon } from 'astro-icon/components';
import { navbarContent } from 'src/content/navbar';
import type { NavbarContent } from 'src/schemas/navbar';

const { content = navbarContent } = Astro.props as { content: NavbarContent };
---

<nav class="fixed top-0 left-0 w-full bg-white border-b border-primary-100">
  <div class="container mx-auto flex items-center justify-between py-4 px-4 md:px-8">
    <!-- Logo -->
    <a href={content.logo.href} class="flex items-center gap-2 group">
      <div class="w-fit h-10 flex items-center transition">
        <span class="sr-only">{content.logo.alt}</span>
        <span class="h-full transition-transform group-hover:scale-105" set:html={content.logo.svg} />
      </div>
    </a>

    <!-- Menu central -->
    <ul class="hidden md:flex gap-8 font-brand text-base font-medium">
      {content.links.map(link => (
        <li>
          <a
            href={link.href}
            class="text-secondary-800 transition-colors duration-200 ease-out relative after:block after:mt-0.5 after:w-0 hover:after:w-full after:transition-all after:duration-200 after:h-[2px] after:bg-primary after:absolute after:bottom-0 after:left-0 after:rounded hover:text-primary"
          >
            {link.text}
          </a>
        </li>
      ))}
    </ul>

    <!-- Botão à direita -->
    <a
      href={content.cta.href}
      class="btn btn-primary-solid btn-md"
    >
      {content.cta.text}
      <Icon is:inline width={18} height={18} stroke-width={2} class="icon-strong" name={content.cta.icon} />
    </a>

    <!-- Botão hamburguer no mobile -->
    <button
      class="md:hidden inline-flex items-center justify-center rounded p-2 text-primary hover:bg-primary-100 transition duration-150 focus:outline-none focus:ring-2 focus:ring-primary-200 active:scale-90"
      aria-label="Abrir menu"
      type="button"
    >
      <Icon class="h-6 w-6" name="lucide:menu" />
    </button>
  </div>
</nav>
